@import "tailwindcss";

@theme {
  --color-brand: #49a942;
  --color-brand-dark: #3a8735;
  --color-brand-light: #66c45e;
  --color-bg-dark: #0c121c;
  --color-bg-darker: #06090f;
  
  --color-bg-light: #ffffff;
  --color-bg-lighter: #f8fafc;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;

  --breakpoint-3xl: 1920px;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
  p {
    font-family: var(--font-sans);
  }
  html {
    scroll-behavior: smooth;
  }
}
